@font-face {
  font-family: "title-font";
  src: url("../assets/fonts/RampartOne-Regular.ttf");
}
@font-face {
  font-family: "PUbuntu-Bold";
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "PUbuntu-Italic";
  src: url("../assets/fonts/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: "PUbuntu-Light";
  src: url("../assets/fonts/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "PUbuntu-Regular";
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}
body {
  background-image: url("../assets/img/background2.png");
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #f6b132;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #a37218;
  border-radius: 12px;
}

img {
  display: block;
  width: 100px;
  margin-bottom: 30px;
}

.main-div .title {
  margin-top: -30px;
  margin-bottom: 50px;
  color: #fff;
}
.main-div .title h1,
.main-div .title h2 {
  text-align: center;
}
.main-div .title h1 {
  font-family: "title-font";
  font-size: 70px;
}
.main-div .title h2 {
  margin-top: -30px;
  font-family: "PUbuntu-Regular";
  font-size: 30px;
  font-style: italic;
}

.main-div .tulpa #rul-3ra #third {
  display: block;
  width: 800px;
}
.main-div .tulpa #rul-3ra #rul-2ra {
  margin-top: -678px;
  margin-left: 150px;
}
.main-div .tulpa #rul-3ra #rul-2ra img {
  display: block;
  width: 500px;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra img {
  display: block;
  width: 300px;
  margin-top: -429px;
  margin-left: 103px;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra img .center {
  width: 20px;
  margin-left: 500000px;
}

.main-div .tulpa {
  width: 810px;
  height: 800px;
  margin: 0px auto;
  overflow: hidden;
  transform: scale(0.9);
  margin-top: -74px;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra .center {
  margin-top: -250px;
  margin-left: 98px;
  width: 100px;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra .center button {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 110px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.342);
  outline: none;
  border: none;
  border-radius: 12px;
  transition: all 300ms;
  z-index: 99990;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra .center button img {
  width: 60px;
  margin-top: 7px;
  margin-left: 15px;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra .center button p {
  margin-top: -22px;
  font-family: -5px "PUbuntu-Bold";
  font-size: 20px;
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra .center button:hover {
  background-color: rgba(255, 255, 255, 0.671);
  transform: scale(1.03, 1.03);
}
.main-div .tulpa #rul-3ra #rul-2ra #rul-1ra .center .flecha img {
  opacity: 0.75;
  width: 230px;
  transform: rotate(-45deg);
  margin-top: -280px;
  margin-left: 42px;
}
.main-div .resultados {
  display: none;
  width: 500px;
  margin: 0px auto;
  margin-top: 60px;
  height: auto;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 12px;
  border: 3px solid #000;
}
.main-div .resultados h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  font-family: "PUbuntu-Bold";
}
.main-div .resultados h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-family: "PUbuntu-Bold";
}
.main-div .resultados .images-combinacion {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}
.main-div .resultados .images-combinacion img {
  width: 65px;
}
.main-div .resultados .combinacion {
  width: 90%;
  margin: 0px auto;
  text-align: justify;
  margin-top: -10px;
  padding: 10px;
  font-size: 19px;
  font-family: "PUbuntu-Regular";
  line-height: 25px;
}
.main-div .resultados .image-terceraRuleta {
  display: flex;
  justify-content: center;
}
.main-div .resultados .image-terceraRuleta img {
  width: 65px;
}

.boton-refresh {
  display: block;
  width: 140px;
  margin: 0px auto;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 12px;
  border: 3px solid #ccc;
  background: #fff;
  font-family: "PUbuntu-Italic";
  transition: all 300ms;
  cursor: pointer;
}

.boton-refresh:hover {
  transform: scale(1.05, 1.05);
  color: #ccc;
  background: black;
}

/*# sourceMappingURL=styles.css.map */
